{% extends 'BSUIRIndividualPlanBundle::base-print.html.twig' %}
{% block title %}Печать Учебная Работа(План){% endblock %}
{% block print_content %}
    {% if ewpi %}
        <h1>Учебная Работа(План)</h1>
        <table>
            <thead>
            <tr>
                <th width="8%">№№ п-п</th>
                <th width="46%">Выполняемая Работа</th>
                <th width="46%">Отметка о Выполнении</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for item in ewpi %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ item.createdAt|date() }}</td>
                    <td>{{ item.updatedAt|date() }}</td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}