{% extends 'BSUIRIndividualPlanBundle::base.html.twig' %}
{% block title %}Учебно-методическая и Организационно-методическая Работа{% endblock %}
{% block h1 %}Учебно-методическая и Организационно-методическая Работа{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            test
        </div>
    </div>
{% endblock %}