{% extends 'BSUIRIndividualPlanBundle::base.html.twig' %}
{% block title %}Individual Plans Page{% endblock %}
{% block h1 %}Individual Plans Page{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Created Plans</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <a href="#" class="btn btn-primary btn-lg btn-block">Create Your Individual Plan Now</a>
        </div>
    </div>
{% endblock %}