{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    '@BSUIRIndividualPlanBundle/Resources/public/libs/select2/select2.css'
    '@BSUIRIndividualPlanBundle/Resources/public/bootstrap/themes/yeti/*.css'
    '@BSUIRIndividualPlanBundle/Resources/public/css/*'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% if form is defined %}
        {{ form_stylesheet(form) }}
    {% endif %}
{% endblock %}
{% block title %}БГУИР{% endblock %}
{% block body %}
    <header>
        <div class="container">
            {% include 'BSUIRIndividualPlanBundle::header.html.twig' %}
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>{% block h1 %}БГУИР{% endblock %}</h1>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    {% javascripts
    '@BSUIRIndividualPlanBundle/Resources/public/js/*'
    '@BSUIRIndividualPlanBundle/Resources/public/libs/select2/select2.full.min.js'
    '@BSUIRIndividualPlanBundle/Resources/public/bootstrap/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}
{% endblock %}