.navbar-nav li p { padding: 13px 15px; margin: 0;  color: #fff; }

.date-form-control select {
    display: block;
    width: 30%;
    float: left;
    margin-right: 5%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.date-form-control select:last-child { margin-right: 0; }

table.table .btn { padding: 0 15px; }

.page-header { margin-top: 21px; }

.select2-selection.select2-selection--single { height: 39px; padding: 5px 5px; border-radius: 0; border-color: #cccccc;  }
.select2-container--default .select2-selection--single .select2-selection__rendered { color: #6f6f6f; }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 7px; }
.date-form-control .select2-container { margin-right: 19px; }
.date-form-control .select2-container:last-child { margin-right: 0; }